.header {
    display: flex;
    justify-content: space-between;
}

.header_left {
    color: blue;
    margin: 10px;
    font-size: 20px;
}

.header_right {
    display: flex;
    font-weight: bold;
    font-size: 10px;
    margin: 10px;
}

.header_navi {
    margin-right: 20px;
}



.image1 {
    width: 50%;
    height: 50%;
    margin-top: 30px;
}

.main2 {
    margin-top: 25%;
    max-width: 1500px;
    height: 250px;

}

.image2 {
    background-color: blue;
    width: 70vw;
    height: 10vw;
}

.message {
    font-size: 50px;

}